@model WebApplication_WithImage.Models.DetailsModal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetailsModal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentName" class="control-label"></label>
                <input asp-for="DocumentName" class="form-control" />
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>
            <!-- Display the current image if it exists -->
            @if (!string.IsNullOrEmpty(Model.Path))
            {
                <div class="form-group">
                    <label>Current Image</label>
                    <br />
                    <img id="img-@Model.Id" src="/Images/@Model.Path" alt="@Model.Name" style="width:200px;height:200px;" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input type="hidden" asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <!-- Image upload -->
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input type="file" asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
